<div class="brands-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="brand-wrapper">
					<h2 class="section-title">Brands</h2>
					<div class="brand-list">
						<img src="/static/dummy/brand-1.png" alt="">
						<img src="/static/dummy/brand-2.png" alt="">
						<img src="/static/dummy/brand-3.png" alt="">
						<img src="/static/dummy/brand-4.jpg" alt="">
						<img src="/static/dummy/brand-5.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>