<div class="promo-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-promo">
					<i class="bi bi-emoji-wink"></i>
					<p>Free Trial</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-promo">
					<i class="bi bi-calendar-check"></i>
					<p>30 Days Warranty</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-promo">
					<i class="bi bi-credit-card"></i>
					<p>Secure payments</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-promo">
					<i class="bi bi-badge-8k""></i>
					<p>New games</p>
				</div>
			</div>
		</div>
	</div>
</div>