{% extends '_Master.html' %}

{% block noi_dung_chinh %}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Log In</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">

        <div class="row">
            <div class="col-md-8" style="margin-left: 160px; margin-bottom: 200px;">
                <form method="POST">
                    <div class="form-group" style="font-size: medium;">
                        <label>Username</label>
                        <input type="text" class="form-control" name="UserName">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group" style="font-size: medium;">
                        <label>Password</label>
                        <input type="password" class="form-control" name="Passwrd">
                    </div>

                    <button type="submit" class="btn btn-primary" style="font-size: medium;">Log in</button>
                </form>

                <br>
                <div>{{ ChuoiKQ }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}