<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    jQuery(function ($) {
        let path = window.location.href;
        $('.mn a').each(function () {
            if (this.href === path){
                $(this).parent().addClass('active')
            }
        });
    });
</script>
<!-- Giải thích script:
- Xét từ class .mn (menu) đến tag <a> nếu như đường dẫn href trung với đường dẫn được load thì active class đó thành màu đen 
- Thêm vào <li> class 'mn' -->


<div class="mainmenu-area">
	<div class="container">
		<div class="row">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div> 
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="mn"><a href="/">Home</a></li>
					<li class="mn"><a href="/game-shop">Game Shop</a></li>
					<li class="mn"><a href="/cart">Cart</a></li>
					<li class="mn"><a href="/checkout">Checkout</a></li>
				</ul>
			</div>  
		</div>
	</div>
</div> 